.ThemeSwitch.ThemeSwitch-Button:focus {
    border-color: var(--color-secondary);
    outline: none;
    box-shadow: none;
}

.ThemeSwitch.ThemeSwitch-Button {
    color: var(--color-primary);
    border-color:  var(--color-primary);
}

.ThemeSwitch.ThemeSwitch-Button:hover {
    color: var(--color-text-hover);
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);
}