/* https://colorhunt.co/palette/01024e5438648b4367ff6464 */

.App-Container {
    --color-postcard-title-light: #f7f7f7;
}

.dark {
    --color-bg: #000129;
    --color-primary: #FF6464;
    --color-secondary: #8B4367;
    --color-text: #f7f7f7;
    --color-bg-highlight: rgba(255, 255, 255, 0.1);
    --color-postcard-stripe: var(--color-secondary);
}

.light {
    --color-bg: #f7f7f7;
    --color-primary: #FF6464;
    --color-secondary: #8B4367;
    --color-text: #151515;
    --color-bg-highlight: rgba(0, 0, 0, 0.05);
    --color-postcard-stripe: rgba(139, 67, 103, 0.5);
}