
.ThemeSwitch.ThemeSwitch-Button:hover, 
.ThemeSwitch.ThemeSwitch-Button:active, 
.ThemeSwitch.ThemeSwitch-Button:active:focus, 
.ThemeSwitch.ThemeSwitch-Button:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.ThemeSwitch.ThemeSwitch-Button:hover {
    color: var(--color-primary);
}


.ThemeSwitch.ThemeSwitch-Button {
    background-color: transparent;
    color: var(--color-text);
    border: none;
}