.PostComment {
    transition: background-color 1s ease;
    overflow: hidden;
}

.PostComment-body, .PostComment-replies {
    max-height: 9999px;
    overflow: hidden;
    transition: max-height 1s ease;
}

.PostComment .PostComment-blockquote {
    background-color: rgb(13, 110, 253);
    margin: -10px 0px;
    margin-right: 0.5rem;
    display: block;
    padding: 0;
    flex: 0 0 8px;
    transition: all 1s ease;
}

.PostComment-highlight {
    background-color: rgb(0, 0, 0, 0.05);
}

.PostComment-reading .PostComment-blockquote {
    background-color: rgb(0, 72, 181);
}

.PostComment .PostComment-blockquote-collapsed {
    background-color: rgba(13, 110, 253, 0.5);
}

.PostComment-blockquote:hover {
    background-color: rgb(116, 16, 255);
}

.PostComment-body-collapsed {
    max-height: 0px;
}

.PostComment-author {
    font-size: 0.8rem;
}

.ReactMarkdown blockquote {
    border-left: 5px solid grey;
    padding-left: 0.5rem;
}

.ReactMarkdown p {
    overflow-wrap: anywhere;
}
