.SearchForm .input-group {
    background-color: var(--color-bg);
    border: 2px solid var(--color-primary);
    border-radius: 40px;
    overflow: hidden;
}

.SearchForm .SearchForm-Input, .SearchForm .SearchForm-Input:focus {
    background-color: transparent;
    color: var(--color-text);
    border: none;
}

.SearchForm .SearchForm-Input:focus {
    outline: none;
    box-shadow: none;
}

.SearchForm .SearchForm-Submit:disabled {
    background-color: transparent;
}

.SearchForm .SearchForm-Submit {
    border-radius: 50%;
    background-color: transparent;
    color: var(--color-text);
    border: none;
}

.SearchForm .SearchForm-Submit:hover {
    color: var(--color-primary);
    background-color: transparent;
}

.SearchForm-Input::-webkit-search-cancel-button {
    display: none;
}