.SearchForm .input-group {
    background-color: var(--color-bg);
    border: 2px solid var(--color-primary);
    border-radius: 40px;
    overflow: hidden;
    transition: border-color 0.5s ease;
}

.SearchForm .input-group:focus-within {
    border-color: var(--color-secondary);
}

.SearchForm .SearchForm-Input, .SearchForm .SearchForm-Input:focus {
    background-color: transparent;
    color: var(--color-text);
    border: none;
}

.SearchForm .SearchForm-Input:focus {
    outline: none;
    box-shadow: none;
}

.SearchForm .SearchForm-Submit:disabled {
    background-color: transparent;
}

.SearchForm .SearchForm-Submit {
    background-color: transparent;
    color: var(--color-text);
    border: none;
}

.SearchForm .SearchForm-Submit:hover, 
.SearchForm .SearchForm-Submit:active, 
.SearchForm .SearchForm-Submit:active:focus, 
.SearchForm .SearchForm-Submit:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.SearchForm .SearchForm-Submit:hover {
    color: var(--color-primary);
}

.SearchForm-Input::-webkit-search-cancel-button {
    display: none;
}