.PostCard {
    height: 350px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s;
}

.PostCard:hover {
    transform: scale(1.02);
}