.PostCard {
    height: 400px;
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
}

/* override Bootstrap card class border */
.PostCard.PostCard-background-image {
    border: none;
}

.CardBody {
    overflow: hidden;
}

.PostCard:hover {
    transform: scale(1.02);
}

.PostCard .CardTitle {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.PostCard img {
    width: 100%;
}

.PostCard-footer {
    font-size: 0.8rem;
}

.PostCard-background-image {
    opacity: 1;
    color: rgb(248,249,250);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.PostCard-no-background-image {
    color: var(--color-text);
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, var(--color-bg-pattern) 0, var(--color-bg-pattern) 1px, var(--color-bg) 0, var(--color-bg) 50%);
}