.More-blockquote {
    background-color: var(--color-primary);
    width: 8px;
    transition: all 1s ease;
}

.PostComment-reading .More-blockquote {
    background-color: var(--color-primary);
}

.More-button {
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--color-text);
}

.More-button:hover {
    text-decoration: underline;
}