.SubredditLink-link.nav-link,
.SubredditLink-link.nav-link:focus {
    color: var(--color-text);
}

.SubredditLink-link.nav-link:hover {
    color: var(--color-primary);
}

.SubredditLink-active .SubredditLink-name::after {
    content: '';
    display: block;
    border-bottom: 1px solid var(--color-primary);
    width: 100%;
    padding-top: 0.25rem;
}

.SubredditLink-icon {
    height: 45px;
    width: 45px;
}