.Post-votes {
    font-weight: bold;
    margin-right: 0.5rem;
}

.Post-subtitle {
    font-size: 1rem;
}

.Post video, .Post img {
    max-height: 600px;
    display: block;
    margin: auto;
}

.Post-external-link.row>* {
    width: auto;
}

.Post-external-link img {
    max-width: 200px;
}