.Post .modal-content {
    background-color: var(--color-bg);
    color: var(--color-text);
}

.Post .Post-close {
    color: var(--color-text);
}

.Post-votes {
    font-weight: bold;
    margin-right: 0.5rem;
}

.Post-author {
    font-size: 0.8rem;
}

.Post video, .Post img {
    max-height: 600px;
    display: block;
    margin: auto;
}

.Post-external-link.row>* {
    width: auto;
}

.Post-header.modal-header {
    border-bottom: none;
    margin-bottom: 1rem;
}

.modal-body::-webkit-scrollbar {
    background-color: var(--color-bg);
    width: 8px;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: var(--color-bg-highlight);
    border-radius: 1rem;
}